<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expertise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/expertise.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top position-sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../images/zhuang-blog.png" alt="" style="height: 65px;"></a>
            <button class="navbar-toggler border-0 shadow-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/company">我的公司</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expertise">專長</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">關於我</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link g-signin2" data-onsuccess="onSignIn"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="hoby">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 justify-content-center">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images.squarespace-cdn.com/content/v1/5cd106404d871189e4392d5e/1597220988747-U03NKO59V4PFOJQGWHH1/1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">打排球</h5>
                            <p class="card-text">假日偶爾會出去打個球~</p>
                            <p class="card-text">以前超長打現在變廢物~</p>
                            <p class="card-text">喜歡打排球的可以找我~</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://jibaofiles.s3.amazonaws.com/58eb440e04451c30073bc521.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">桌球</h5>
                            <p class="card-text">小時候跟我哥常常打~</p>
                            <p class="card-text">不過現在幾乎剩體育課會碰~</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://www.freecodecamp.org/news/content/images/2022/11/What-is.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">目前在學習Node.js與Web</h5>
                            <p class="card-text">剛接觸沒多久的Node.js希望可以學好串接網頁跟伺服器，不過網頁切版也必須跟著練習才行。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>