<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="390305927530-klobn3dvvjktht7j6ktnp69b8p3v5p4p.apps.googleusercontent.com">
    <title>Zhuang Blog</title>
    <link rel="icon" href="../images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my css -->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="background-fix"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../images/icon.png" alt="" style="width: 60px;"><span
                    class="ms-3 fs-3">Zhuang Blog</span></a>
            <button class="navbar-toggler border-0 shadow-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/company">我的公司</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expertise">專長</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">關於我</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner">
        <div class="banner-text"></div>
    </div>

    <section class="important-page">
        <div class="container">
            <div class="row justify-content-center g-5">
                <div class="col-12">
                    <h1 class="title text-center">我的生活基本要素</h1>
                </div>
                <div class="col-10 col-md-4">
                    <div class="icon">
                        <i class="fa-solid fa-battery-full"></i>
                    </div>
                    <div class="text">
                        <h3>睡飽</h3>
                    </div>
                </div>
                <div class="col-10 col-md-4">
                    <div class="icon">
                        <i class="fa-solid fa-headphones"></i>
                    </div>
                    <div class="text">
                        <h3>音樂</h3>
                    </div>
                </div>
                <div class="col-10 col-md-4">
                    <div class="icon">
                        <i class="fa-solid fa-utensils"></i>
                    </div>
                    <div class="text">
                        <h3>吃飽</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="differences">
        <div class="container">
            <div class="row justify-content-center g-5 g-sm-0">
                <div class="col-12">
                    <h2 class="text-center pb-5">南台科技大學五專部</h2>
                </div>
                <div class="col-10 col-sm-6 col-md-4 outCard">
                    <div class="road">
                        <h3>一年級</h3>
                        <p>剛開始想要就讀南台科技大學五專部資訊工程系，是因為國中的時候手機拿得很古老，開始研究手機的處理器規格和品牌型號，就這樣選擇了資工系。其實讀資訊科之前我對於程式設計真的完全不了解，導致我在一年級剛進來學校跟我想像中不大相同，不過想了想當時候才一年級，時間還很充足，於是我照著學校的課程走，慢慢尋找自己的目標。</p>
                    </div>
                </div>
                <div class="col-10 col-sm-6 col-md-4 outCard">
                    <div class="road">
                        <h3>二年級</h3>
                        <p>經過了一年，也上網看了一些文章，意識到只有學會學校課堂上教的東西以後找工作還是相對困難，因為資訊界實在是太廣了，我還是漫無目標，想到國鈞老師說過有興趣可以加入他們的實驗室，我真的很想找到我對於資訊的興趣在哪裡於是加入了實驗室想要多方面嘗試，看到學長學姊每個都非常強大，常常會告訴我自己:我以後也要跟他們一樣。</p>
                    </div>
                </div>
                <div class="col-10 col-sm-6 col-md-4 outCard">
                    <div class="road">
                        <h3>三年級</h3>
                        <p>三年級才剛剛開始，不過我在暑假發現了一個我覺得還滿容易上手的Node.js，但目前只會簡單的串接，像是做過登入驗證，session、cookie、redis等等比較簡單的應用，還有將我的表單傳到MongoDB資料庫。等三年級過後我再將內容補齊。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="row justify-content-around g-5">
                <div class="col-10 col-md-6 contact-form">
                    <h2>Contact Us</h2>
                    <form action="#">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required="required">
                        </div>
                        <div class="form-group">
                            <label fsor="message">Message:</label>
                            <textarea id="message" name="message" rows="4" required="required"></textarea>
                        </div>
                        <button id="submit" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-10 col-md-6 location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.958509422261!2d120.22379571043908!3d23.025295579084958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e771f2995cba5%3A0x3bfd449f1e46ffef!2z5Y2X6Ie656eR5oqA5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1694093723827!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer-content">
            <div class="copyright">
                &copy; 2023 Zhuang Jun Kai
            </div>
            <div class="technologies">
                Technologies: Node.js Backend, Web Development
            </div>
        </div>
    </footer>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/contact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../js/index.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
    </script>
</body>

</html>