<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful People</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/successful_people/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top position-sticky">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#"><img src="../images/successful_img/Successful_logo.png" alt="" height="50px"></a>
            <!-- Toggle Btn -->
            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- SideBar -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- Sidebar Header -->
                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Successful People</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- Sidebar Body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-center  justify-content-lg-end  align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Services">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="Successful-carousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#Successful-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#Successful-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="../images/successful_img/Successful-2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>成功向前邁進</h5>
                    <p>本公司將熱情的服務您!</p>
                </div>
            </div>            
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../images/successful_img/Successful.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>歡迎來到本公司</h5>
                    <p>成功人士將為您走向成功道路!</p>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Successful-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Successful-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section id="About" class="about">
        <div class="container">
            <div class="section-title">
                <h2>About Us</h2>
                <div class="underline"></div>
                <p>Light tomorrow with today. 用現在點亮未來。</p>
            </div>

            <div class="row g-4 justify-content-center">
                <div class="col-11 col-lg-4 d-flex align-items-center justify-content-center">
                    <div class="about-img">
                        <img src="../images/successful_img/STUST.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-11 col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12 mb-4 about-text bg-light p-4">
                            我們是南臺科技大學五專部，資訊工程科的學生。在這個充滿活力的學術環境中，我們致力於探索資訊科技的無限可能性。

                            作為資訊工程科的學生，我們得到了專業教師的指導，學習最新的程式設計、網站開發等知識和技能。我們認識到，這些技能不僅僅是課堂上的學習，更是未來實踐的基石。

                            在校園裡，我們積極參與各種專案和競賽，從團隊合作中學習協調和溝通，從競爭中體驗成長。

                            在學校，我們不僅僅是學生，更是一個關心彼此、互相支持的社群。我們互相交流學習心得，分享解決問題的方法，一同成長。我們也有機會參與學術活動和社會實習，將所學應用於實際場景，為未來的職業生涯做好準備。

                            無論是追求創新，還是探索技術的未知，我們在資訊工程科找到了自己的位置。如果你對我們的學習經歷有任何疑問，想知道更多關於我們的故事，歡迎隨時聯繫我們，我們樂意分享我們在學習和成長過程中的經驗。
                        </div>
                        <div class="col-12 btn btn-primary mb-4" data-bs-toggle="collapse"
                            data-bs-target="#introduceTranslate">英文版本</div>
                        <div class="collapse" id="introduceTranslate">
                            <div class="card card-body bg-dark text-light">
                                We are students from the Department of Information Engineering at Southern Taiwan
                                University of Science and Technology, College of Technological and Vocational Education.
                                In this vibrant academic environment, we are dedicated to exploring the boundless
                                possibilities of information technology.

                                As students of Information Engineering, we receive guidance from professional
                                instructors and learn the latest knowledge and skills in programming, web development,
                                and more. We recognize that these skills are not only learned in classrooms but also
                                serve as the foundation for future practical applications.

                                On campus, we actively engage in various projects and competitions, learning
                                coordination and communication through teamwork, and experiencing growth through
                                competition. Our learning extends beyond textbooks, seminars, and workshops, constantly
                                expanding our knowledge domains.

                                At school, we are not just students; we are a community that cares for one another and
                                supports each other. We exchange learning experiences, share problem-solving methods,
                                and grow together. We also have opportunities to participate in academic activities and
                                internships, applying what we have learned to real-life situations and preparing for
                                future careers.

                                Whether it's pursuing innovation or exploring the unknowns of technology, we have found
                                our place in the field of Information Engineering. If you have any questions about our
                                learning experiences or want to know more about our stories, please feel free to contact
                                us. We are more than happy to share our experiences in learning and growth.
                                <div class="btn btn-outline-primary my-3" data-bs-toggle="collapse"
                                data-bs-target="#introduceTranslate">close</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="Team" class="team">
        <div class="container">
            <div class="section-title">
                <h2>Team</h2>
                <div class="underline"></div>
                <p>No fear of words, no fear of years. 不懼人言，不畏歲月。</p>
            </div>

            <div class="row">
                <!-- team member-1 -->
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="./../images/successful_img/boss1.jpg" class="img-fluid" alt="team1">
                        </div>
                        <div class="member-info">
                            <h4>Chen Yun</h4>
                            <span>President 董事長</span>
                            <p>Successful People 讓你功成名就，勇往直前，不低頭，不準玩謙虛遊戲 ! 不準玩被討厭遊戲 ! <i
                                    class="bi bi-emoji-sunglasses-fill text-info"></i></p>
                            <div class="social">
                                <a href=""> <img class="w-100 rounded-circle" src="../images/successful_img/our/S__43122695.jpg" alt="">
                                </a>
                                <a href=""> <i class="bi bi-facebook"></i> </a>
                                <a href=""> <i class="bi bi-instagram"></i> </a>
                                <a href=""> <i class="bi bi-envelope"></i> </a>
                                <a href=""> <i class="bi bi-line"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team member-2 -->
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="./../images/successful_img/lew.jpg" class="img-fluid" alt="team1">
                        </div>
                        <div class="member-info">
                            <h4>Yi Zn</h4>
                            <span>Manager 經理</span>
                            <p>轉過來還要補一堆學分有夠累的，我一定可以撐過去 ! 不過還是希望老闆可以加薪 <i
                                    class="bi bi-emoji-smile-fill text-primary"></i></p>
                            <div class="social">
                                <a href=""> <img class="w-100 rounded-circle" src="../images/successful_img/our/S__43122693.jpg" alt="">
                                </a>
                                <a href=""> <i class="bi bi-facebook"></i> </a>
                                <a href=""> <i class="bi bi-instagram"></i> </a>
                                <a href=""> <i class="bi bi-envelope"></i> </a>
                                <a href=""> <i class="bi bi-line"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team member-3 -->
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="./../images/successful_img/yng.jpg" class="img-fluid" alt="team1">
                        </div>
                        <div class="member-info">
                            <h4>Hao Yong</h4>
                            <span>Supervisor 組長</span>
                            <p>英檢、多益沒在怕，戲如人生人生如布袋戲，照顧表弟我好累，所有科目全通過，全民英檢我來了 ! <i
                                    class="bi bi-emoji-wink-fill text-success"></i></p>
                            <div class="social">
                                <a href=""> <img class="w-100 rounded-circle" src="../images/successful_img/our/S__43122694.jpg" alt="">
                                </a>
                                <a href=""> <i class="bi bi-facebook"></i> </a>
                                <a href=""> <i class="bi bi-instagram"></i> </a>
                                <a href=""> <i class="bi bi-envelope"></i> </a>
                                <a href=""> <i class="bi bi-line"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team member-4 -->
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../images/successful_img/me.jpg" class="img-fluid" alt="team1">
                        </div>
                        <div class="member-info">
                            <h4>Jun Kai</h4>
                            <span>Technical Support 技術支援</span>
                            <p>有時候真的是亞歷山大，技術怎麼學都學不完，快樂的過每一天，而且不斷進步是我希望的生活。 <i
                                    class="bi bi-emoji-laughing-fill text-warning"></i> </p>
                            <div class="social">
                                <a href="https://ngl.link/zhuang_jun_kai"> <img class="w-100 rounded-circle" src="../images/successful_img/our/S__43122691.jpg" alt=""></a>
                                <a href=""> <i class="bi bi-facebook"></i> </a>
                                <a href=""> <i class="bi bi-instagram"></i> </a>
                                <a href=""> <i class="bi bi-envelope"></i> </a>
                                <a href=""> <i class="bi bi-line"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section id="Services" class="services">
        <div class="section-title">
            <h2>Services</h2>
            <div class="underline"></div>
            <p>Happiness comes from helping others. 快樂來自於幫助別人。</p>
        </div>

        <div class="container">
            <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-3  justify-content-around">
                <div class="services-card">
                    <span>
                        <div class="services-img">
                            <img src="../images/successful_img/animal.png" alt="" class="w-100">
                        </div>
                        <div class="services-text w-100">
                            <h2>班級活動紀錄</h2>
                            <h3>Class Activity Records</h3>
                        </div>
                    </span>
                </div>
                <div class="services-card">
                    <span>
                        <div class="services-img">
                            <img src="../images/successful_img/homework.png" alt="" class="w-100">
                            <a class="stust btn btn-light" href="https://stust-class-web.netlify.app/" target="_blank">進入</a>
                        </div>
                        <div class="services-text w-100">
                            <h2>班級作業區</h2>
                            <h3>Class Assignment Area</h3>
                        </div>
                    </span>
                </div>
                <div class="services-card">
                    <span>
                        <div class="services-img">
                            <img src="../images/successful_img/cut.png" alt="" class="w-100">
                        </div>
                        <div class="services-text w-100">
                            <h2>網頁製作</h2>
                            <h3>Website Creation</h3>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-light text-dark pt-5 pb-5">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                <div class="col-md-4 mx-auto  mt-4">
                    <h2 class="text-uppercase text-info">Contact</h2>
                    <hr class="mt-4">
                    <div class="footer-text">
                        <p class="text-secondary"><i class="bi bi-house-door text-primary"></i> position : STUST super i 棟</p>
                        <p class="text-secondary"><i class="bi bi-envelope text-warning"></i> E-mail : <a href="mailto:5b0g0024@stust.edu.tw" class="text-decoration-none text-secondary">5b0g0024@stust.edu.tw</a></p>
                        <p class="text-secondary"><i class="bi bi-instagram text-danger"></i> Instagram : <a href="https://www.instagram.com/zkkai2023/" class="text-decoration-none text-secondary">zkkai2023</a></p>
                        <p class="text-secondary"><img src="images/unnamed.png" alt="" width="18px" style="border-radius: 50%;"> 匿名提問 NGL : <a href="https://ngl.link/zkkai2023" class="text-decoration-none text-danger"> <i class="bi bi-arrow-right"></i> 進入提問視窗 <i class="bi bi-arrow-left"></i></a></p>
                        <p class="text-secondary"><i class="bi bi-chat-right-dots-fill text-success"></i> 提問的問題都會在IG做回覆哦~</p>
                        
                    </div>
                </div>
                <div class="col-md-4 mx-auto mt-4">
                    <h2 class="text-uppercase text-info">technology</h2>
                    <hr class="mt-4">
                    <div class="footer-text">
                        <p class="text-decoration-none text-secondary"><i class="bi bi-git" style="color: coral;"></i> Github 部署</p>
                        <p class="text-decoration-none text-secondary"><i class="bi bi-filetype-html" style="color: rgb(255, 0, 0);"></i> HTML 架構</p>
                        <p class="text-decoration-none text-secondary"><i class="bi bi-filetype-css" style="color: rgb(80, 170, 255);"></i> CSS 美化</p>
                        <p class="text-decoration-none text-secondary"><i class="bi bi-filetype-js" style="color: rgb(225, 2, 255);"></i> Javascript 、 JQuery 動作</p>
                        <p><a href="https://getbootstrap.com/" class="text-decoration-none text-secondary"><i class="bi bi-bootstrap" style="color: rgb(96, 56, 255);"></i> Bootstrap 框架</a></p>
                   </div>
                </div>
            </div>
            <hr>
            <div class="col-12 p-5">
                <div class="footer-copy-right d-flex justify-content-center">
                    <h5>Copyright &copy;2023 All rights reserved by : <span class="text-info">Zhuang Jun Kai</span></h5>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>